* {
  margin: 0;
  padding: 0; }

body {
  background-color: #313131; }

.container__block {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-template-rows: repeat(5, 60px);
  grid-gap: 20px 20px; }

:checked + .container__block .block__item {
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #ffee00;
  width: 130px;
  height: 130px; }

:checked + .container__block .block__item:hover {
  background-color: #ffee00; }

.block__item {
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 0;
  background-color: black; }

.block__item:hover {
  background-color: #ffee00; }

.block__item:not(:hover) {
  transition: background-color 5s; }
