* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Sizes for block__items*/
html {
  font-size: 62.5%; }

body {
  background-color: #313131;
  padding: 10rem; }

.check {
  position: absolute;
  display: inline-block;
  font-family: "Segoe UI";
  font-size: 20px;
  color: #949494;
  font-weight: 900;
  font-style: italic; }
  .check__label {
    top: 4rem;
    right: 50%; }
  .check__input {
    top: 5rem;
    right: 48%; }
  @media (max-width: 768px) {
    .check__label {
      top: 4rem;
      right: 52%; }
    .check__input {
      top: 5rem;
      right: 49%; } }

.container__block {
  display: grid;
  grid-template-columns: repeat(12, 5rem);
  grid-template-rows: repeat(5, 5rem);
  grid-gap: 1.3rem;
  justify-content: center; }

:checked + .container__block .block__item {
  background-color: transparent;
  border: 2px solid #ffee00;
  height: 13rem;
  width: 13rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  border-radius: 10rem; }
  :checked + .container__block .block__item:hover {
    background-color: #ffee00; }

@media (max-width: 768px) {
  .container__block {
    grid-template-columns: repeat(12, 3rem);
    grid-template-rows: repeat(5, 3rem);
    grid-gap: 0.5rem; }
  :checked + .container__block .block__item {
    height: 8rem;
    width: 8rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    border-radius: 10rem; } }

.block__item {
  border: 0;
  border-radius: 0;
  background-color: black;
  transition: background-color 5s; }
  .block__item:hover {
    background-color: #ffee00;
    transition: 0s; }
