@mixin radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;  
}

@mixin font($ff, $fs, $fc, $fw, $ft) {    
    font-family: $ff;
    font-size: $fs;
    color: $fc;
    font-weight: $fw;
    font-style: $ft;
}