

@mixin font($ff, $fs, $fc, $fw, $ft) {    
    font-family: $ff;
    font-size: $fs;
    color: $fc;
    font-weight: $fw;
    font-style: $ft;
}

@mixin round($round-w, $round-h, $round-r) {
    height: $round-h;
    width: $round-w;
    -webkit-border-radius: $round-r;
    -moz-border-radius: $round-r;
    -ms-border-radius: $round-r;
    border-radius: $round-r;  
}