.check {
    position: absolute;
    display: inline-block;
    @include font('Segoe UI', 20px, $font-color, 900, italic);

    &__label {
        top: 4rem;
        right: 50%;
    }

    &__input {
        top: 5rem;
        right: 48%;
    }
    
    @media (max-width: 768px) {

        &__label {
            top: 4rem;
            right: 52%;
        }
    
        &__input {
            top: 5rem;
            right: 49%;
        }
    }
}



.container__block {
    display: grid;
    grid-template-columns: repeat(12, $item-size-middle);
    grid-template-rows: repeat(5, $item-size-middle); 
    grid-gap: $item-gap-middle;
    justify-content: center;
}

:checked + .container__block .block__item {
    background-color: transparent;
    border: 2px solid $color-secondary;
    @include round(13rem, 13rem, 10rem);

    &:hover {
        background-color: $color-secondary;
    }
}

@media (max-width:768px) {
    .container__block {
        grid-template-columns: repeat(12, $item-size-small);
        grid-template-rows: repeat(5, $item-size-small); 
        grid-gap: $item-gap-small;

    }

    :checked + .container__block .block__item {
        @include round(8rem, 8rem, 10rem);
    }
}

.block__item {
    border: 0;
    border-radius: 0;
    background-color: $color-primary;
    transition: background-color 5s;

    &:hover {
        background-color: $color-secondary;
        transition: 0s;
    }
}




