body {
 background-color: $bg-color;
 padding: 50px;
}

.check__label, 
.check__input {
    display: inline-block;
    width: 100%;
    text-align: center;
    @include font('Segoe UI', 20px, $font-color, 900, italic);
}

.container__block {
    display: grid;
    grid-template-columns: repeat(12, 60px);
    grid-template-rows: repeat(5, 60px); 
    grid-gap: 13px 13px;
    justify-content: center;
}

:checked + .container__block .block__item {
    background-color: transparent;
    @include radius(100px);
    border: 2px solid $color-secondary;
    width: 130px;
    height: 130px;
}

:checked + .container__block .block__item:hover {
    background-color: $color-secondary;
}

.block__item {
    width: 60px;  
    height: 60px;
    border: 0;
    border-radius: 0;
    background-color: $color-primary;
    transition: background-color 5s;
}

.block__item:hover {
    background-color: $color-secondary;
    transition: 0s;
}



