$color-primary: rgb(0, 0, 0);
$color-secondary: rgb(255, 238, 0);
$bg-color: rgb(49, 49, 49);
$font-color: rgb(148, 148, 148);   


/*Sizes for block__items*/

$item-size-small: 3rem;
$item-size-middle: 5rem;
$item-size-big-round: 13rem;

$item-gap-small: .5rem;
$item-gap-middle: 1.3rem;
$item-gap-big: 1.6rem;